body{
    background: linear-gradient(#f0b3cf, #f4ef72);
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons button{
    padding: 15px 32px;
    outline: none;
    margin-top: 350px;
}

.one{
    border-radius: 30px 0 30px 0;
    width: 150px;
    height: 50px;
    border: none;
    background: linear-gradient(90deg,#8de88d, #fdea53);
    font-family: monospace;
    text-transform: uppercase;
    color: #578019;
    letter-spacing: 1px;
    
}

.one:hover{
    background: linear-gradient(90deg,#fdea53, #8de88d);

}


.two{
   width: 150px;
   height: 50px; 
    border-radius:50px;
    background: linear-gradient(45deg,#8ce8e4, #fc7fbd);
    border: none;
    font-family: monospace;
    text-transform: uppercase;
    color: #2d3ba7;
    letter-spacing: 1px;
}



.two:hover{
    background: linear-gradient(45deg,#fc7fbd, #8ce8e4);
    width: 155px;
    height: 55px;
    transition: 1s;
    border: 1px solid #2d3ba7;
    
}

.three{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(#f27676, #f5cf9a);
    font-family: sans-serif;
    text-transform: uppercase;
    color: #c30505;
    border: none;
    font-size: 12px;

}

.three:hover{
    background: linear-gradient(0deg,#f27676, #f5cf9a);
    font-size: 14px;
    transition: 1s;
    border:1px solid #f28888;
    

}
















